{:store "repo/store"
 :peer "ws://127.0.0.1:31744"
; remote "ws://127.0.0.1:31744"
 :user "weilbach@dopamine.kip"
 :repo #uuid "79459521-78ad-44ac-98ba-aa230b259b69"
 :branches #{"calibrate" "master" "train small rbms"}
 :nrepl-port 47382}
