[ ;; neuron config (conductance)
 {:db/id #db/id[:db.part/db]
  :db/ident :neuron/cm
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/doc "Capacitance of the neuron."
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :neuron/tau_m
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/doc "Membrane constant of the neuron."
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :neuron/e_rev_E
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/doc "Exc. reverse potential of the neuron."
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :neuron/e_rev_I
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/doc "Inh. reverse potential of the neuron."
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :neuron/v_thresh
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/doc "Threshold potential of the neuron."
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :neuron/tau_syn_E
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/doc "Exc. time constant of the neuron."
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :neuron/tau_syn_I
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/doc "Inh. time constant of the neuron."
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :neuron/v_reset
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/doc "Reset potential of the neuron."
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :neuron/v_rest
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/doc "Resting potential of the neuron."
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :neuron/tau_refrac
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/doc "Refractory time constant the neuron."
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :neuron/i_offset
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/doc "Offset current of the neuron."
  :db.install/_attribute :db.part/db}

 ;; calibration
 {:db/id #db/id[:db.part/db]
  :db/ident :calib/alpha
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/doc "Alpha slope for sigmoid fit."
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :calib/v-p05
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/doc "Offset for sigmoid fit."
  :db.install/_attribute :db.part/db}

 ;; repo refs
 {:db/id #db/id[:db.part/db]
  :db/ident :ref/neuron-params
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/doc "Repository reference to neuron parameters."
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :ref/trans-params
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/doc "Repository reference to transaction parameters."
  :db.install/_attribute :db.part/db}

 ;; training args
 {:db/id #db/id[:db.part/db]
  :db/ident :train/epochs
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "Times to iterate over the training data."
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :train/dt
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/doc "Time resolution for simulator."
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :train/phase_duration
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/doc "Phase duration in simulator."
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :train/learning_rate
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/doc "Starting learning rate."
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :train/stdp_burnin
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/doc "STDP burnin pauses."
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :train/data.h5
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "HDF5 data file of training samples."
  :db.install/_attribute :db.part/db}

 ]
